<configuration xmlns:patch="https://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publish>
        <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="Sitecore.MicrosoftTeams.Integration.Publish.InitiateTeamsNotification, Sitecore.MicrosoftTeams.Integration" resolve="true"/>
      </publish>
    </pipelines>
  </sitecore>
</configuration>